.createTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ffff;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ffff;
  border-radius: 10px;
  margin: 0 0 10px 0;
  gap: 20px;
  width: auto;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0 10px 0;
  width: auto;
}

.input label {
  color: #ffff;
}

.input textarea {
  max-width: 170px;
}

.input button {
  background-color: #3cb371;
}

.task p {
  width: 40%;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff4d4d;
  width: 20%;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4da6ff;
  width: 20%;
}
